#funnelback-contextual-navigation {
  border: 1px solid black;
  border-radius: 5px;
  background: #eee;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#funnelback-contextual-navigation ul {
  list-style: none;
  margin-left: 0;
}
