{#
/**
 * @file
 * Curator template for Funnelback.
 *
 * Available variables:
 * - curator: An array of curator information.
 */
#}
{% if curator.exhibits %}
  <div id="funnelback-curator">

    {% for exhibit in curator.exhibits %}

      <div class="funnelback-exhibit">
        {% if exhibit.messageHtml %}
          {{ exhibit.messageHtml|raw }}
        {% else %}
          <h3><a href="{{ funnelback_filter_curator_link(exhibit.linkUrl) }}"
                title="{{ exhibit.displayUrl }}">{{ exhibit.titleHtml }}</a></h3>
          <p class="desc">{{ exhibit.descriptionHtml }}</p>
        {% endif %}
      </div>

    {% endfor %}
  </div>
{% endif %}
