{#
/**
 * @file
 * Spell suggestion template.
 *
 * Available variables:
 * - spell: An array of spell information.
 */
#}
{% if spell %}
  <div id="funnelback-spell">
    <p>Did you mean:
      {% for suggestion in spell %}
        <a href='?{{ suggestion.url }}'>{{ suggestion.text }}</a>
      {% endfor %}
    </p>
  </div>
{% endif %}
