{#
/**
 * @file
 * Contextual navigation template for Funnelback.
 *
 * Available variables:
 * - summary: An array of result summary information.
 * - contextual_nav: An array of contextual navigation information.
 */
#}
{% if contextual_nav %}
  <div id="funnelback-contextual-navigation">
    <h3>Related searches for <strong>{{ summary.query }}</strong></h3>
    {% for category in contextual_nav %}
      <div class="contextual-navigation-wrapper">
        <h4>{{ category.name }} of <strong>{{ summary.query }}</strong></h4>
        <div class="funnelback-contextual-navigation-{{ category.name }}">
          <ul>
            {% for cluster in category.clusters %}
              <li><a href="{{ funnelback_filter_query_string(cluster.link) }}">
                  {{ cluster.title|replace({'...': ' <strong>' ~ summary.query ~ '</strong>'})|raw }}
                </a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
