{#
/**
 * @file
 * Facet template for Funnelback.
 *
 * Available variables:
 * - facets: An array of facet items.
 *    Each item contains related selection details and urls.
 * - query: The search key word string.
 */
#}
{% if facets %}
  {% for facet in facets %}
    <div class='facet'>
      <div class='facet-header'>
        <div class='facet-name'>Filter by {{ facet.name }}</div>
        {% if facet.selected %}
          <div class='facet-clear-all'>
            <a href="{{ funnelback_filter_query_string(facet.unselectAllUrl) }}">Clear all</a>
          </div>
        {% endif %}
      </div>
      <div class="facet-body">
        <ul>
          {% for category in facet.categories %}
            {% for value in category.values %}
              <li>
                {% if facet.guessedDisplayType == 'CHECKBOX' %}
                  <input type="checkbox" class="facet-checkbox" {{ (value.selected) ? 'checked' }}
                         redirect="{{ funnelback_filter_query_string(value.toggleUrl) }}">
                {% elseif facet.guessedDisplayType == 'RADIO_BUTTON' %}
                  <input type="radio" class="facet-radio" {{ (value.selected) ? 'checked' }}
                         redirect="{{ funnelback_filter_query_string(value.toggleUrl) }}">
                {% elseif facet.guessedDisplayType == 'SINGLE_DRILL_DOWN' %}
                  {{ (value.selected) ? 'x' }}
                {% endif %}
                <a href="{{ funnelback_filter_query_string(value.toggleUrl) }}">
                  <span class="facet-item-label">{{ value.label }}</span>
                  <span class="facet-item-count"><i>({{ value.count }})</i></span>
                </a>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
{% endif %}
